[submodule "editors/emacs"]
	path = prog/editors/emacs
	url = https://github.com/mohkale/emacs
	ignore = dirty
	branch = master
[submodule "prog/konsole/themes/an-old-hope"]
	path = prog/konsole/themes/an-old-hope
	url = https://github.com/mohkale/an-old-hope-konsole
	branch = master
[submodule "prog/yakuake/themes/an-old-hope"]
	path = prog/yakuake/themes/an-old-hope
	url = https://github.com/mohkale/an-old-hope-yakuake
	branch = master
[submodule "prog/st/st"]
	path = prog/st
	url = https://github.com/mohkale/st
	ignore = dirty
	branch = master
[submodule "prog/bat/an-old-hope"]
	path = prog/bat/an-old-hope
	url = https://github.com/mohkale/an-old-hope-sublime
	branch = master
[submodule "prog/sxiv/sxiv"]
	path = prog/sxiv/sxiv
	url = git@github.com:mohkale/sxiv.git
