;; [[https://github.com/mohkale/dotty][dotty]] configuration file
(
 (:clean "~")

 (:mkdirs
   "$XDG_DOCUMENTS_DIR"
   "$XDG_DOWNLOAD_DIR"
   "$XDG_MUSIC_DIR"
   "$XDG_PICTURES_DIR"
   "$XDG_VIDEOS_DIR"
   "$XDG_DESKTOP_DIR"
   "$XDG_PUBLICSHARE_DIR"
   "$XDG_TEMPLATES_DIR"
   "$XDG_CONFIG_HOME"
   "$XDG_CACHE_HOME"
   "$XDG_STATE_HOME"
   "$XDG_DATA_HOME"
   ;; Custom XDG Extensions
   "$XDG_TEMP_DIR"
   "$XDG_GAMES_DIR"
   ("$XDG_DEV_HOME"
     ("repos" "scripts" "conf")))

 (:import "core")

 ;; try to determine the current platform
 (:mkdir "./setup/cache/dist")
 (:shell "dest_dir=./setup/cache/dist
          rm -rvf $dest_dir/*

          platform=$(./bin/ls-distro)
          if [ ! -z \"$platform\" ]; then
            touch \"$dest_dir/$platform\"
          fi")

 (:when "test -e ./setup/cache/dist/arch"
   (:import "dist/arch"))

 (:when "test -e ./setup/cache/dist/ubuntu"
   (:import "dist/ubuntu"))

 #dot/if-windows (:import "dist/windows")
 #dot/if-linux   (:import "dist/linux")

 ;; install any scripts and desired programs
 (:import "bin" "prog")
)
