# -*- mode: conf-unix -*-
[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory
Actions=runRanger

[Desktop Action runRanger]
Name=Open Ranger Here
Icon=utilities-terminal
Exec=spawn-term -r 25 -c 100 ranger %u
