;; -*- mode: clojure -*-
(
 (:shell {:desc "Sync emacs dotfiles"
          :cmd "git -C emacs submodule sync --quiet --recursive
                git submodule update --init --recursive emacs"})

 (:packages (:apt "emacs")
            (:choco "emacs")
            (:yay "emacs27-git"))

 (:link "emacs" "$XDG_CONFIG_HOME/emacs"
        ;; XDG_CONFIG_DIR has only been supported from emacs 27 forwards
        {:src "emacs" :dest "~/.emacs.d"
         :when "[ \"$(emacs --version | head -n1 | cut -d' ' -f3 | cut -d. -f1)\" -le 26 ]"}
        {:src "emacs/bin/*" :dest "$XDG_BIN_DIR/" :glob true})
)
