[Unit]
Description=Jellyfin MPV Shim
PartOf=media-server.service
After=media-server.service graphical.target

[Service]
ExecStart=jellyfin-mpv-shim

[Install]
WantedBy=basic.target
